
body {
    font-family: 'Monami', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282828; /* Fundo cinza escuro para toda a página */
}

header, main, footer {
    background-color: #f0f0f0; /* Fundo cinza claro para o cabeçalho, conteúdo e rodapé */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828; /* Fundo escuro para o cabeçalho */
    color: #fff;
    padding: 10px 20px;
}

.logo {
    flex: 1; /* Permite que o logo ocupe o espaço restante à esquerda */
}

.logo h1 {
    margin: 0;
    font-size: 30px; /* Tamanho da fonte para o nome */
}

nav {
    flex: 2; /* Permite que a navegação ocupe o espaço central */
    display: flex;
    justify-content: center; /* Centraliza as abas */
    padding-right: 20px; /* Ajusta a posição das abas para a direita */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px; /* Ajuste a margem para o espaçamento das abas */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    color: #00aaff;
    text-decoration: underline;
}

main {
    padding: 20px;
}

.section {
    display: none; /* Oculta todas as seções por padrão */
}

.section.active {
    display: block; /* Mostra apenas a seção ativa */
}

footer {
    background-color: #282828; /* Fundo escuro para o rodapé */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.about-photo {
    width: 160px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin-right: 30px; /* Espaçamento à direita da foto */
    border-radius: 10px; /* Bordas arredondadas para a foto (opcional) */
}

/* Estilização da seção "Sobre Mim" */
.about-section {
    background-color: #ffffff; /* Fundo branco para a seção "Sobre Mim" */
    padding: 20px; /* Espaçamento interno */
    color: #282828; /* Cor do texto */
}

.about-content {
    display: flex; /* Alinha os itens em linha */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: row; /* Organiza os itens em linha */
    gap: 40px; /* Aumenta o espaçamento entre a foto e o texto */
}

.about-box {
    background-color: #282828; /* Fundo branco */
    padding: 25px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex; /* Alinha os itens em linha */
    align-items: center; /* Alinha verticalmente ao centro */
    color: #ffffff; /* Cor do texto */
    max-width: 800px; /* Largura máxima da caixa */
}

.about-box p {
    margin: 0; /* Remove a margem padrão */
}


.contact-email {
    color: #00aaff; /* Cor padrão para o e-mail */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.contact-email:hover {
    color: #015077; /* Cor ao passar o mouse sobre o link do e-mail */
    text-decoration: underline; /* Sublinha o texto ao passar o mouse */
}

/* Estilos para o link do LinkedIn */
.contact-linkedin {
    color: #00aaff; /* Cor padrão para o LinkedIn */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.contact-linkedin:hover {
    color: #015077; /* Cor ao passar o mouse sobre o link do LinkedIn */
    text-decoration: underline; /* Sublinha o texto ao passar o mouse */
}



.clickable-title {
    cursor: pointer;
    font-size: 24px;
    color: #00aaff;
    transition: color 0.3s;
    margin-top: 20px; /* Espaço acima dos títulos */
}

.clickable-title:hover {
    color: #007bff;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#hitMagazineContent img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
